<div *ngIf="bmr">
  <h2 class="text-3xl p-2 font-normal">Workout Tracker</h2>
  <ion-card class="p-2">
    <div class="flex justify-center">
      <!-- <circle-progress
        [percent]="calorieBurnPercent"
        [radius]="60"
        [space]="-10"
        [toFixed]="1"
        [maxPercent]="340"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#ffff'"
        [outerStrokeGradientStopColor]="'#FF006E'"
        [outerStrokeColor]="'#FF003C'"
        [animation]="true"
        [animateTitle]="false"
        [showUnits]="false"
        [showBackground]="false"
        [responsive]="true"
        [animationDuration]="1000"
        [clockwise]="true"
        [lazy]="false"
        [title]="'Calories'"
        [subtitle]="(calorieBurnPercent).toString()+' %'"
        [startFromZero]="false"
        [showInnerStroke]="false"
      ></circle-progress> -->
    </div>
    <ion-card-content>
      <ion-grid>
        <ion-row class="gap-x-3">
          <ion-col>
            <div>
              <p>BMR</p>
              <p class=" text-white text-xl">{{ bmr }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <p>Consumed</p>
              <p class=" text-white text-xl">{{ caloriesConsumed }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <p>Burned</p>
              <p class=" text-white text-xl">{{ caloriesBurned }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
