ejs-heatmap {
  background-color: black;
}
#container_HeatmapBorder {
  fill: #1f1f1f;
}
#containerYAxisLabels,
#containerXAxisLabels,
#container_Heatmap_LegendLabel {
  text {
    fill: white;
  }
}
#container_Container_RectGroup {
  rect {
    margin: 2px;
  }
}
