<app-header></app-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button id="food-modal" expand="block"
        ><ion-icon name="fast-food"></ion-icon
      ></ion-fab-button>
      <!-- <ion-fab-button id="water-modal" expand="block"
        ><ion-icon name="water"></ion-icon
      ></ion-fab-button> -->
      <ion-fab-button id="workout-modal" expand="block"
        ><ion-icon name="bicycle"></ion-icon
      ></ion-fab-button>
      <ion-fab-button id="todo-modal" expand="block"
        ><ion-icon name="add-outline"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="">
    <!-- todos  -->
    <div>
      <app-stats
        [workoutSubject]="workoutSubject"
        [foodSubject]="foodSubject"
      ></app-stats>
    </div>
    <!-- quick info stats  -->
    <div>
      <app-todos [todoSubject]="todoSubject"></app-todos>
    </div>
    <!-- tools  -->
    <div>
      <app-tools></app-tools>
    </div>
  </div>
  <ion-content class="ion-padding">
    <!-- food intake modal  -->
    <ion-modal
      #foodModal
      trigger="food-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title class="text-center">Track food</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="addFood()" [strong]="true">Add</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="foodForm">
            <ion-item>
              <ion-label position="floating">Food</ion-label>
              <ion-input
                type="text"
                placeholder="Enter food name"
                formControlName="foodIntake"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Calories</ion-label>
              <ion-input
                type="text"
                placeholder="Enter calories"
                formControlName="calories"
              ></ion-input>
            </ion-item>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- todo modal  -->
    <ion-modal
      #todoModal
      trigger="todo-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title class="text-center">Add Todo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="addTodo()" [strong]="true">Add</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="todoForm">
            <ion-item>
              <ion-label position="floating">title</ion-label>
              <ion-input
                type="text"
                placeholder="Enter title"
                formControlName="title"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea
                placeholder="Enter description"
                formControlName="description"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Date of todo</ion-label>
              <ion-input
                type="date"
                placeholder="Enter date"
                formControlName="date"
              ></ion-input>
            </ion-item>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- calorie burn modal  -->
    <ion-modal
      #workoutModal
      trigger="workout-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title class="text-center">Track workout</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="addWorkout()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="workoutForm">
            <ion-item>
              <ion-label position="floating">Workout</ion-label>
              <ion-input
                type="text"
                placeholder="Enter workout name"
                formControlName="workoutName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Calories</ion-label>
              <ion-input
                type="text"
                placeholder="Enter calories burned"
                formControlName="caloriesBurned"
              ></ion-input>
            </ion-item>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- water intake modal  -->
    <ion-modal
      #waterModal
      trigger="water-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title class="text-center">Track water intake</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Enter your name</ion-label>
            <ion-input type="text" placeholder="Your name"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>
