<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button id="food-modal" expand="block"
        ><ion-icon name="fast-food"></ion-icon
      ></ion-fab-button>
      <!-- <ion-fab-button id="water-modal" expand="block"
        ><ion-icon name="water"></ion-icon
      ></ion-fab-button> -->
      <ion-fab-button id="workout-modal" expand="block"
        ><ion-icon name="bicycle"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- todos  -->
  <div>
    <app-todos></app-todos>
  </div>
  <!-- quick info stats  -->
  <div>
    <app-stats></app-stats>
  </div>
  <ion-content class="ion-padding">
    <!-- food intake modal  -->
    <ion-modal
      #foodModal
      trigger="food-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title class="text-center">Track food</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="addFood()" [strong]="true">Add</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="foodForm">
            <ion-item>
              <ion-label position="floating">Food</ion-label>
              <ion-input
                type="text"
                placeholder="Enter food name"
                formControlName="calories"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Calories</ion-label>
              <ion-input
                type="text"
                placeholder="Enter calories"
                formControlName="foodIntake"
              ></ion-input>
            </ion-item>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- calorie burn modal  -->
    <ion-modal
      #workoutModal
      trigger="workout-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Track workout</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="addWorkout()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="workoutForm">
            <ion-item>
              <ion-label position="floating">Workout</ion-label>
              <ion-input
                type="text"
                placeholder="Enter workout name"
                formControlName="workoutName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Calories</ion-label>
              <ion-input
                type="text"
                placeholder="Enter calories burned"
                formControlName="caloriesBurned"
              ></ion-input>
            </ion-item>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- water intake modal  -->
    <ion-modal
      #waterModal
      trigger="water-modal"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Track water intake</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Enter your name</ion-label>
            <ion-input type="text" placeholder="Your name"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>
