<div>
  <ion-card class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <div class="m-3">
        <fa-icon
          [icon]="faPersonWalking"
          class="text-pink-700 fa-2xl"
        ></fa-icon>
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Daily Workout</ion-card-title>
          <ion-card-subtitle>Burn 600 calories</ion-card-subtitle>
        </ion-card-header>
      </div>
    </div>
    <div class="m-3">
      <fa-icon [icon]="faCircleCheck" class="fa-2xl"></fa-icon>
    </div>
  </ion-card>
  <ion-card class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <div class="m-3">
        <fa-icon
          [icon]="faBurger"
          class="text-green-700 fa-2xl"
        ></fa-icon>
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Daily Food</ion-card-title>
          <ion-card-subtitle>Eat 1600 calories</ion-card-subtitle>
        </ion-card-header>
      </div>
    </div>
    <div class="m-3">
      <fa-icon [icon]="faCircleCheck" class="fa-2xl"></fa-icon>
    </div>
  </ion-card>
  <ion-card class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <div class="m-3">
        <fa-icon
          [icon]="faGlassWater"
          class="text-cyan-700 fa-2xl"
        ></fa-icon>
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Daily Water intake</ion-card-title>
          <ion-card-subtitle>Drink 6 bottles of water</ion-card-subtitle>
        </ion-card-header>
      </div>
    </div>
    <div class="m-3">
      <fa-icon [icon]="faCircleCheck" class="fa-2xl"></fa-icon>
    </div>
  </ion-card>
</div>
