<div *ngIf="dailyGoals">
  <ion-card class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <div class="m-3">
        <fa-icon
          [icon]="faPersonWalking"
          class="text-pink-700 fa-2xl"
        ></fa-icon>
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Daily Workout</ion-card-title>
          <ion-card-subtitle
            >Burn {{ dailyGoals.burnGoal }} calories</ion-card-subtitle
          >
        </ion-card-header>
      </div>
    </div>
    <div class="flex justify-center items-center gap-2">
      <div>
        <ejs-progressbar
          id="percentage"
          type="Linear"
          height="60"
          trackThickness="24"
          progressThickness="24"
          progressColor="#E3165B"
          trackColor="#F8C7D8"
          [value]="calorieProgress"
          [animation]="animation"
          [showProgressValue]="true"
        >
        </ejs-progressbar>
      </div>
      <div class="m-3">
        <fa-icon
          [icon]="faCircleCheck"
          class="fa-2xl"
          [ngClass]="{ 'text-green-700': dailyGoals.burnGoalStatus }"
        ></fa-icon>
      </div>
    </div>
  </ion-card>
  <ion-card class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <div class="m-3">
        <fa-icon [icon]="faBurger" class="text-green-700 fa-2xl"></fa-icon>
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Daily Food</ion-card-title>
          <ion-card-subtitle
            >Eat {{ dailyGoals.inTakeGoal }} calories</ion-card-subtitle
          >
        </ion-card-header>
      </div>
    </div>
    <div class="flex justify-center items-center gap-2">
      <div>
        <ejs-progressbar
          id="percentage2"
          type="Linear"
          height="60"
          trackThickness="24"
          progressThickness="24"
          progressColor="#E3165B"
          trackColor="#F8C7D8"
          [showProgressValue]="true"
          [value]="foodIntakeProgress"
          [animation]="animation"
        >
        </ejs-progressbar>
      </div>
      <div class="m-3">
        <fa-icon
          [icon]="faCircleCheck"
          class="fa-2xl"
          [ngClass]="{ 'text-green-700': dailyGoals.inTakeGoalStatus }"
        ></fa-icon>
      </div>
    </div>
  </ion-card>
  <ion-card class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <div class="m-3">
        <fa-icon [icon]="faGlassWater" class="text-cyan-700 fa-2xl"></fa-icon>
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Daily Water intake</ion-card-title>
          <ion-card-subtitle
            >Drink {{ dailyGoals.waterGoal }} bottles of
            water</ion-card-subtitle
          >
        </ion-card-header>
      </div>
    </div>
    <div class="flex justify-center items-center gap-2">
      <div class="flex gap-2 items-center">
        <div class="flex justify-center items-center">
          <button
            (click)="changeWaterStatus('subtract')"
            class="p-3 bg-slate-200 shadow-md text-lg rounded-full w-10 h-10 flex justify-center items-center"
          >
            <span>-</span>
          </button>
        </div>
        <div class="mx-5">{{ dailyGoals.waterCount }}</div>
        <div class="flex justify-center items-center">
          <button
            (click)="changeWaterStatus('add')"
            class="p-3 bg-slate-200 shadow-md text-lg rounded-full w-10 h-10 flex justify-center items-center"
          >
            <span>+</span>
          </button>
        </div>
      </div>
      <div class="m-3">
        <fa-icon
          [icon]="faCircleCheck"
          class="fa-2xl"
          [ngClass]="{ 'text-green-700': dailyGoals.waterGoalStatus }"
        ></fa-icon>
      </div>
    </div>
  </ion-card>
</div>
